---
description: Møt folka i Universitetslisten
heading: Styret
layout: base
permalink: /styret/
published: true
sitemap: true
redirect_from:
- /om/styret/
title: Styret
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content subpage-content">
  <section class="section-pad">
    <div class="row column">
      <!-- <p class="lead">Om oss i styret</p> -->
      <div class="row smedium-up-1 medium-up-2 large-up-3 xxxlarge-up-4 organizers">
        {% assign sorted_organizers = site.organizers | sort: 'order' %}
        {% for organizer in sorted_organizers %}
          {% unless organizer.hidden %}
            <div class="column column-block">
              <div class="profile">
                {% if organizer.photo_url %}
                  <img
                    class="thumbnail"
                    src="{{ site.url }}{{ site.baseurl }}{{ organizer.photo_url }}"
                    alt="Photo of {{ organizer.name }}" />

                {% else %}
                  <div style="height: 320px;margin-bottom: 20.8px;border: 4px;"></div>
                {% endif %}

                <div class="profile-namecard">
                  <h3 class="profile-name">
                    {{ organizer.name }}
                    {% if organizer.pronouns != blank %}
                      ({{ organizer.pronouns }})
                    {% endif %}
                  </h3>
                  <h5><b>{{ organizer.board_role }}</b></h5>
                  <h6 style="line-height: 1.5;">
                    {{ organizer.role }}<br>
                    Alder: {{ organizer.age }}<br>
                    Studieretning: {{ organizer.studies }}<br>
                    Fakultet: {{ organizer.faculty }}
                  </h6>
                                  </div>
                <ul class="social-icons">
                  {% if organizer.twitter != blank %}
                  <li>
                    <a class="twitter" href="https://twitter.com/{{ organizer.twitter }}" target="_blank">
                      <svg class="twitter-icon"><use xlink:href="#twitter-icon"></use></svg>
                    </a>
                  </li>
                  {% endif %}
                  {% if organizer.github != blank %}
                  <li>
                    <a class="github" href="https://github.com/{{ organizer.github }}/" target="_blank">
                      <svg class="social-icon"><use xlink:href="#github-icon"></use></svg>
                    </a>
                  </li>
                  {% endif %}
                  {% if organizer.website != blank %}
                  <li>
                    <a class="web" href="{{ organizer.website }}" target="_blank">
                      <svg class="social-icon"><use xlink:href="#web-icon"></use></svg>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div><!-- /.profile -->
            </div><!-- /.column -->
          {% endunless %}
        {% endfor %}
      </div><!-- /.row -->
    </div>
  </section>
</div><!-- end .content -->
